.slogan_welcome_sedona {
    background:url(/img/background_photo_welcome.jpg); 
    background-repeat:no-repeat;
}
.main-filter {
    background:url(/img/search_filter.jpg); 
    background-repeat:no-repeat;
}


