body {
    /* min-width: 768px; */
    width: 1200px;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    background-color:var(--basic-white);
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
    min-height: 100%;
    display:grid;
    grid-template-rows:min-content 1fr min-content;
    align-content: start;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-style:normal;
    text-transform: uppercase;
    text-align: center;
    color:var(--basic-dark);
}

a {
    text-decoration: none;
}

img {
    height: auto;
    border-style: none;

}

.visually-hidden{
    display: none;
}

input:focus,
textarea:focus {
  outline: none;
} 

.page {
    background-color: var(--basic-extra-light);
}

/* .main-header {
    outline: 2px solid rgba(255, 0, 0, 0.5);
    outline-offset: -2px;
} */
.main-navigation{
    /* outline: 5px solid rgba(0, 89, 255, 0.5);
    outline-offset: -5px; */
    background-color: var(--basic-white);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .main-contant, .catalog{
    outline: 2px solid rgba(255, 0, 0, 0.5);
    outline-offset: -2px;
} */

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    width: 1055px;
    margin:0;
    padding: 0;
    justify-content: space-between;
    list-style: none;
    height: 56px;
    align-content: center;
    /* outline: 2px solid rgba(123, 255, 15, 0.5);
    outline-offset: -2px; */

}


.site-navigation a {
    display: block;
    color: var(--basic-black);
    font-size: 14px;
    line-height:26px;
    font-weight:700;

}

.navigation-wrapper {
     background-color:var(--basic-white);
}

.site-navigation a:hover {
    color: var(--basic-blue);
}

.site-navigation a:focus {
    opacity:0.3;
}

.site-navigation a:active {
    color: var(--basic-brown);
}

/* main logo */
.main-logo {
    cursor: pointer;
    width: 138px;
    height: 70px;
    position: absolute;
    margin-top: 0px;
    z-index: 2;
}
.main-logo:hover {
    transform:scale(1.05);
}

/* welcome sedona */
.welcome-sedona {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    width: 100%;
    height: 509px;
    background-image:url(../img/background_photo_welcome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color:var(--special-dark-blue);
} 

.slogan-welcome-sedona{
margin:77px auto;
}

.mask {
    position: absolute;
    bottom: -3px;
    width: 100%;
}


/* main-contant */

.contant-reason{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    justify-content: center;
    align-content:flex-start;
    position: relative;
}

/* hero */

.hero {
    padding-top:42px;
    padding-bottom:51px;
    width:519px;
    margin: auto;
    background-color: var(--basic-white);
}

.hero h1 {
    font-size: 21px;
    line-height:26px;
    font-weight:700;
    color: var(--basic-black);
    padding-bottom: 44px;
}

.hero p {
    line-height:26px;
}

 /* .main-contant-reason, .main-contant-services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}  */

.main-contant-reason, .main-contant-services{
    display: flex;
    align-items: stretch;
    width: 100%;
}  

.gallery img{
    display: block;
    background-size: cover;
}

 .block{
    width: 100%;
    padding: 47px 51px 54px 51px;
} 

.block h2, a{
    font-size: 21px;
    font-weight:700;
    color: var(--basic-black);
    text-align: center;
}


.wrap{
    width: 100%;
    padding-top: 47px;
    padding-bottom:54px;
    background-color: var(--basic-extra-light);
}


.blue {
    display: block;
    background-color: var(--basic-blue);
    color: var(--basic-white);
    padding: 47px 51px 54px 51px;
}

.blue h2 {
    font-size: 21px;
    font-weight:700;
    color: var(--basic-white);
    text-align: center;
}



.hotel-search {
    padding-top:57px;
    padding-bottom:42px;
    width: 435px;
    margin: auto;
}
.hotel-search h2{
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-black);
}

.hotel-search p{
    line-height: 24px;
}

/* button */
.button {
    font:inherit;
    font-size:21px;
    line-height:26px;
    font-weight:700;
    text-transform: uppercase;
    vertical-align: middle;
    border:none;
    outline:none;
    border-radius: 0px;
    color:var(--basic-white);
    background-color: var(--basic-blue);
    cursor: pointer;
}

.button:hover{
    background-color: var(--special-dark-blue);
}

.button:focus{
    color: rgba(255, 255, 255, 0.3);
    background-color: var(--special-extra-blue);
}

.search-form button {
    width: 458px;
    height: 58px;
    margin: 0;
}

.search-button {
    background-color: var(--basic-brown);
    width: 568px;
    height:86px;
    margin: auto;
}

.search-button:hover {
    background-color: var(--special-dark-brown);
}

.search-button:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: var(--special-extra-brown);
}


.map img{
    width: 100%;
    display: flex;
    justify-content: stretch;
}

/* footer */

.main-footer {
    background-color:var(--basic-white);
    opacity:0.9;
    height: 120px;
    display: flex;
    justify-content: center;
}

.footer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    width: 1055px;
}

.contacts{
    display: block;
    font-size:21px;
    line-height:26px;
    font-weight:700;
    color: var(--basic-black);
    align-self:center;
}

.contacts a{
    color: var(--basic-black);
}
.contacts p {
    margin-top:0px;
}


.social-group{
    display: flex;
    justify-self: center;
    align-self:center;
}
.social {
    display: inline-block;
    width: 46px;
    height: 48px;
    margin: 0;
    background-color:var(--basic-blue);
    background-image: url(../img/Spritesocial.svg);
}

.social-group a:nth-child(2){
    margin-right:6px;
    margin-left: 6px;
}

.social-bth-tw{
    background-position:15px;
    background-repeat: no-repeat;}
.social-bth-fb{
    background-position:-35px;
    background-repeat: no-repeat;}
.social-bth-yt{
    background-position:-90px;
    background-repeat: no-repeat;}

.social:hover{
    background-color:var(--special-dark-blue)
}
/* Настроить прозрачность иконок */
.social:focus{
    background-color: var(--special-extra-blue);
}

.site-htmlacademy{
    justify-self: center;
    align-self:center;
    display: flex;
}


.site-htmlacademy p {
    font-size: 14px;
    line-height: 26px;
    color:var(--basic-black);
    padding-right: 8px;
}

.htmlacademy {
    display: inline-block;
    width: 115px;
    height: 41px;
    background-image: url(../img/logo_html_academy.svg) no-repeat;
    background-position: 0px 0px;
}

.htmlacademy:hover {
    background-image: url(../img/logo-htmlacademyhover.svg) no-repeat;
}

.htmlacademy:active {
    background-image: url(../img/logo-htmlacademyfocus.svg) no-repeat;
}

/* search-form */

.search{
    position: relative;
    display: flex;
    justify-content: center;
}

.search-form{
    background-color: var(--basic-white);
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2); ;
    position: absolute;
    margin-top: 86px;
;
}

.form {
    color:var(--basic-black);
    line-height:26px;
    font-weight:700;
    width:458px;
    padding:55px;
    display: flex;
    flex-wrap: wrap;

}

.search-form input[type="text"]{
  font: inherit;
  color: var(--basic-black);
  background-color: var(--basic-light-grey);
  border:none;
  border-radius: 0px;
  width: 346px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 29px;
}


.search-form input:hover {
  background-color: var(--special-platinum);
}

.search-form input:focus {
    background-color: var(--basic-white);
    border:2px solid var(--special-silver);
}

.adults input[type="text"]{
    width: 114px;
    margin-right: 53px;
}

.children input[type="text"]{
    width: 114px;
}

/* .calendar {
    background-image: url(../img/searchform.svg);
    background-repeat: no-repeat;
    width:21px;
    height: 23px;
    background-position:-206px -2px; 
}

.calendar:hover {
    background-position:-206px -41px;
}

.calendar:focus {
    background-position:-206px -79px;
}

.search-form-minus {
    background-image: url(../img/searchform.svg);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}
.search-form-plus {
    width: 50px;
    height: 50px;
    background-image: url(../img/searchform.svg);
    background-repeat: no-repeat;
} 



/* page hotels */

/* main filter */

.catalog{
    display: grid;
}


.main-filter {
    background:url(../img/search_filter.jpg); 
    background-color: var(--special-dark-blue);
    background-repeat:no-repeat;
    background-size: cover;
    color: var(--basic-white);
    text-align:left;
    min-height: 217px;
    padding: 0 72px;

}


.filter-form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.filter-wrap{
    display: flex;
}

.filter-infrastructure{
    width: 253px;
}

.main-filter legend {
    font-weight:700;
}

.main-filter ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-filter li{
    margin-top: 25px;
}

.main-filter fieldset {
    border: 0;
}


/* cost */

.main-filter-cost p {
    font-size:16px;
    font-weight:700;
}
.cost{
    width: 224px;
    height: 36px;
    border:2px solid var(--basic-white);
    border-radius:2px;
    text-align: center;
}


.cost input[type="number"]{
    font: inherit;
    color: var(--basic-white);
    background:transparent;
    border:none;
}

.cost svg {
    fill:var(--basic-white);
}

/* .slider-line rect{
    width:200px;
    height:2px;
    fill:var(--basic-white);
} */

.slider-button{
    width: 19px;
    height:21px;
    background-image: url(../img/filter-button.svg);
    background-repeat: no-repeat;
}

.slider-button:hover{
    width: 23px;
    height:24px;
}

/* main filter button */

.filter-button {
    font:inherit;
    text-transform: uppercase;
    vertical-align: middle;
    outline:none;
    color:var(--basic-white);
    border:2px solid var(--basic-white);
    border-radius: 2px;
    background-image: none; 
    background: transparent;
    background-color: transparent;
    padding:8px 35px 7px 36px;
    cursor: pointer;
}

.filter-button:hover {
    color: var(--basic-black);
    background-color: var(--basic-white);
}

/* sorting results */
.sorting-results {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin:0px 72px 0px 72px;
    align-items: center;
    justify-content: space-between;
    height: 88px;
}


.sorting-item-wrap{
    display: flex;
    margin-left: 36px;
}

.sorting-find{
    display:flex;
    align-items: center;
    
}

.sorting-results h2 {
    font-size:21px;
    line-height:26px;
    font-weight:700;
    display: inline-block;
    width: 127px;
}

.sorting-results ul {
    list-style: none;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    padding: 0;
    margin-left:40px;
    margin-right: 46px;
}

.sorting-item li {
    margin-right: 32px;
}

.sorting-item a {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color:rgba(0, 1, 1, 0.3);
    border-bottom: 1px dashed var(--basic-blue);
}

.sorting-item a:hover {
    color: var(--basic-blue);
}

.sorting-item a:focus {
    color: var(--basic-black);
    border: none;
}
.sorting-item a:active {
    color: var(--basic-blue);
    border:none;
}

.sorting {
    outline:none;
    background-image:url(../img/sorting.svg); 
    background-color: transparent;
    border:none;
    width:11px;
    height:10px;
}


/* results */
.results {
    background-color: var(--basic-white);
    text-align: left;
}

.item{
    list-style:none;
    margin: 0;
    padding: 0;
}

.hotel li{
    /* display: flex;
    flex-direction: row;
    align-items:flex-start; */
    display: grid;
    grid-template-columns: 164px 258px 1fr;
    align-items: center;
    padding: 0 72px;
    border-bottom:1px solid var(--special-silver);
}

.item-gallery{
    width: 135px;
    height: 90px;
    margin:29px 0;
    justify-self:start;
}

.item-info{
    display: flex;
    flex-wrap: wrap;
    justify-self: start;
    padding-bottom: 30px;
    position: relative;
}

.item-info div{
    display: grid;
    grid-template-columns: 116px 1fr;
}

.item-info div:last-child{
    justify-self: end;
}

.rating{
    width: 110px;
    justify-self: end;
}

.hotel li:first-child{
    border-top:1px solid var(--special-silver);
}

.item a {
    color: var(--basic-black);
    font-size: 21px;
    line-height:26px;
    font-weight:700;
}

.item a:hover {
    color: var(--basic-blue);
}

.item a:focus {
    color:rgb(0, 0, 0, 0.3);
}

.item .details{
    font: inherit;
    display: block;
    font-weight:700;
    color: var(--basic-white);
    text-align: center;
    width: 110px;
    height: 27px;
    margin-right: 6px;
}

.item .details:hover{
    color: var(--basic-white);
}
.item .details:focus{
    color: rgba(255, 255, 255, 0.3);
}

.details a{
    display: block;
    text-align: center;
}


.reservation {
    font: inherit;
    font-weight:700;
    color: var(--basic-white);
    background-color: var(--basic-brown);
    width: 142px;
    height: 27px;
}
.reservation:hover{
    background-color: var(--special-dark-brown);
}
.reservation:hover{
    background-color: var(--special-extra-brown);
}

.rating p{
    background-color: var(--basic-light-grey);
}




:root {
    --basic-black: #000000;
    --basic-dark: #333333;
    --basic--liver:#666666;
    --basic-grey: #888888;
    --basic-blue: #81B3D2;
    --basic-extra-light: #EEEEEE;
    --basic-light-grey:#F2F2F2;
    --basic-white: #ffffff;
    --basic-brown: #766357;

    --special-light-grey:#CACACA;
    --special-dark-blue:#669EC0;
    --special-extra-blue:#5496BD;
    --special-dark-brown:#604E43;
    --special-extra-brown:#503E33;
    --special-platinum:#EBEBEB;
    --special-silver:#E5E5E5;
}



